:root {
  --clr-neon: rgb(240, 4, 4);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

body.dark-theme {
  background-color: var(--secondery-color);
}

.dark-theme {
  --secondery-color: rgb(29, 24, 24);
}

.bilde {

  height: 200px;
  max-width: 1000px;
  border: solid #e60106 3px;
}

.bilde2 {
  max-height: 400px;
  max-width: 400px;
  border: solid #e60106 6px;
  box-shadow: 4px 4px 3px black;
}

.catbutt {
  width: 200px;
  margin: 5px;
  line-height: 34px;
  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: 'Netflix Sans', sans-serif;
}

.catbutt:hover {
  transform: scale(0.9);
}

.cell {
  background-color: rgba(94, 87, 87, 0.274);
  float: left;
  padding-top: 10px;
  margin: 10px;
  width: 300px;
  height: 500px;
  border: solid 5px #e60106;
  box-shadow: 4px 4px 4px black;

}

.cell2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;

}

.first {
  clear: left;
}

.profilbilde {
  max-height: 200px;
  max-width: 200px;
  border-radius: 20px;
  border: solid #e60106 5px;
  box-shadow: 3px 3px 3px black;
}

.ramme {
  background-color: rgba(94, 87, 87, 0.274);
  border: solid #e60106 5px;
  border-radius: 20px;
  display: inline-block;
  text-align: left;
  padding: 22px;
  box-shadow: 3px 3px 3px black;
}

h1 {
  text-shadow: 2px 2px 2px black;
}

h2 {
  text-shadow: 1px 1px 2px black;
}

h3 {
  text-shadow: 1px 1px 1px black;
}

html {
  color: #e60106;
  font-family: 'Netflix Sans', sans-serif;
}

.favoritt {
  font-size: 3rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: 0.5s ease;
}

.favoritt:hover {
  transform: scale(0.9);
}

.fjern {
  font-size: 3rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: 25px;
  transition: 0.5s ease;
}

.fjern:hover {
  transform: scale(0.9);
}

/*Teksten nedenfor er kun random funksjonene*/
.favoritt-r {
  font-size: 3rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: 0.5s ease;
}

.favoritt-r:hover {
  transform: scale(1.3);
}

.fjern-r {
  font-size: 3rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: 300px;
  transition: 0.5s ease;
}

.fjern-r:hover {
  transform: scale(0.9);
}



.spinner {
  border: solid #e60106 6px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  animation: loading 5s linear infinite;
}

.spinner:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}


.btn-group .button {
  margin-top: 2%;

  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Netflix Sans', sans-serif;
  transition: 0.5s ease;
}

.btn-group .button:hover {
  opacity: 0.7;
  transform: scale(0.9);
  transition: 0.5s ease;
  background-color: #e60106;
  border: 1px solid #e60106;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Netflix Sans', sans-serif;
}

.btn {
  color: black;
  padding: 10px;
  margin: 2px;
  text-align: center;
  transition: 0.5s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.search-button {
  width: 15%;
  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  color: black(255, 0, 0);
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Netflix Sans', sans-serif;
}

.search-button:hover {
  opacity: 0.4;

}

.butt {
  margin: 3px;
  line-height: 34px;
  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: 'Netflix Sans', sans-serif;
}



.butt:hover {
  transform: scale(0.9);
  opacity: 0.7;
}


::placeholder {
  color: rgb(10, 10, 10);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0);
}


#icon {
  max-width: 50px;
  margin-left: 20px;
  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Netflix Sans', sans-serif;
  transition: 0.5s ease;
}

#icon:hover {
  transform: scale(0.9);
}

.neon-btn {
  font-size: 1rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.1em solid;
  padding: 0.25em 1em;
  border-radius: 0em;
  width: 180px;

  text-shadow:
    0 0 0.2em hsl(0 0% 50% / 0.3),
    0 0 0.125em currentColor;

  box-shadow: inset 0 0 0.1em 0 var(--clr-neon),
    0 0 0.1em 0 var(--clr-neon);
  position: relative;
  transition: background-color 100ms linear;
}

.neon-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.2em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-btn:hover,
.neon-btn:focus {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-btn:hover::before,
.neon-btn:focus::before {
  opacity: 1;
}

.neon-btn:hover::after,
.neon-btn:focus::after {
  opacity: 1;
}

.cinema1 {
  height: 200px;
  max-width: 1000px;
  border: solid #e60106 3px;
}

.logg {
  background-color: #e60106;
  border: solid #e60106 2px;
  border-radius: 20%;
  box-shadow: 0 0 1em 0.2em var(--clr-neon);
  font-size: 1.3rem;
  transition: 0.5s ease;
}

.logg:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.buttis {
  background-color: #e60106;
  border: 1px solid #e60106;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  color: black(255, 0, 0);
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Netflix Sans', sans-serif;
  transition: 0.5s ease;
}

.buttis:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.flyttFavo {
  margin-left: 5%;
}